body {
	font-family: 'karla', sans-serif;
	margin: 0px;
}

* {
	box-sizing: border-box;
}


.slide {
	margin: auto;
	height: 100vh;
	width: 100%;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	border: #011B33 20px solid;
}


.the-date {
	top: 80px;
	position: relative;
	margin: 0px;
	left: 200px;
	box-sizing: border-box;
	display: block;
}

#day-date p {
	margin: 0px;
	font-size: 28px;
	font-weight: bold;
	color: #4A4A4A;

}

#date-date p {
	margin-top: 5px;
	font-size: 18px;
	color: #B2B2BA;
}

.container-dash {
	border: #09A5DB 2px solid;
	width: 55px;
	color: #09A5DB;
	top: 120px;
	left: 200px;
}

h1 {
	color: solid-black;
	font-size: 70px;
	top: 120px;
	width: 50%;
	position: relative;
	margin: 0px;
	left: 200px;
	box-sizing: border-box;
	display: block;
} 

.title-slide-text strong {
	color: #09A5DB;
	font-size: 100px;
}

.food-card {
	width: 220px;
	height: 240px;
	background-color: #FFFFFF;
	border-color: black solid;
	margin-top: 200px;
	margin-right: 50px;
	border-radius: 10px;
	box-shadow: 0px 10px 15px rgba(216, 216, 216, .75);
	text-align: left;
	font-size: 20px;
	transition: all .3s;
	float: left;
}

.food-card:hover {
	box-shadow: 0px 2px 5px #D5D5D5;

}

.food-card p {
	margin: 10px 30px ;
	color: #000000 ;
}

.image-container {
	margin-left: 200px;
}

.image-container a {
	text-decoration: none;
}

.button {
	margin-left: 200px;
	margin-top: 100px;
}

#order-button {
	float: left;
}

#order-button-2 {
	float: left;
	margin-left: 50px;
}

#order-button-2 a{
	background-color: #B3B3B3;
	transition: all .3s;
}

#order-button-2 a:hover {
	background-color: #909090;
}

.button a {
	text-decoration: none;
	font-size: 20px;
	list-style: none;
	color: #808080;
	background-color: #011B33;
	color: white;
	border: none;
	padding: 25px 70px;
	text-align: center;
	transition: all .3s;
}

.button a:hover {
	background-color: #09A5DB;

}


.clear{
	clear: both;
}
/*

.scroll-down img {
	left: 100px;
	position: absolute;
	width: 30px;
	height: auto;
	margin: 0px;
	display: block;
	bottom: 50px;
}

.logo-header img {
	left: 100px;
	top: 50px;
	position: absolute;
	margin: 0;
	width: 40px;Í
	height: auto;
}

.hamburger-menu img {
	right: 100px;
	top: 50px;
	position: absolute;
	margin: 0;
	width: 40px;
	height: auto;
}

*/
